# Import Python libraries

In [1]:
import xlwings as xw
import pandas as pd
import numpy as np
from poes.model.utils import param_poes

In [2]:
xb = xw.Book('poes/controller/control.xlsm')

In [3]:
sheet = xb.sheets['Resumen']

In [4]:
df_poes = sheet['A2'].options(pd.DataFrame, index=False, expand='table').value
df_poes

  Variables  Data values Dist.   Loc Scale    Sc Lim. Min.  Lim. Max.
0     Area        340.00  None  None  None  None       None      None
1   Espesor        40.00  None  None  None  None       None      None
2  Porosida         0.16  None  None  None  None       None      None
3       Swi         0.51  None  None  None  None       None      None
4       Boi         2.60  None  None  None  None       None      None

# Exploratory data analysis

In [5]:
df_poes.columns

Index(['Variables', 'Data values', 'Dist.', 'Loc', 'Scale', 'Sc', 'Lim. Min. ',
       'Lim. Max.'],
      dtype='object')

In [6]:
df_poes.columns = df_poes.columns.str.strip()

In [7]:
df_poes.columns

Index(['Variables', 'Data values', 'Dist.', 'Loc', 'Scale', 'Sc', 'Lim. Min.',
       'Lim. Max.'],
      dtype='object')

In [8]:
df_poes['Dist.'] = ['Triangular', 'Triangular', 'Log Normal', 'Normal', 'Exponencial']
df_poes

  Variables  Data values        Dist.   Loc Scale    Sc Lim. Min. Lim. Max.
0     Area        340.00   Triangular  None  None  None      None      None
1   Espesor        40.00   Triangular  None  None  None      None      None
2  Porosida         0.16   Log Normal  None  None  None      None      None
3       Swi         0.51       Normal  None  None  None      None      None
4       Boi         2.60  Exponencial  None  None  None      None      None

In [9]:
df_poes.shape

(5, 8)

In [10]:
df_poes['Loc'] = np.array([400, 0, 0, 0.4, 1])
df_poes['Scale'] = np.array([600, 90, 0.2, 0.2, 0.2])
df_poes['Sc'] = np.array([0.3, 0.3, 0.8, 0, 0.7])
df_poes['Lim. Min.'] = np.array([50, 0, 0, 0, 1])
df_poes['Lim. Max.'] = np.array([0, 180, 0.4, 1, 2])
df_poes

  Variables  Data values        Dist.    Loc  Scale   Sc  Lim. Min.  Lim. Max.
0     Area        340.00   Triangular  400.0  600.0  0.3         50        0.0
1   Espesor        40.00   Triangular    0.0   90.0  0.3          0      180.0
2  Porosida         0.16   Log Normal    0.0    0.2  0.8          0        0.4
3       Swi         0.51       Normal    0.4    0.2  0.0          0        1.0
4       Boi         2.60  Exponencial    1.0    0.2  0.7          1        2.0

# Use Loc method from pandas to extract specific values

In [11]:
df_poes.loc[2, "Data values"]

0.16

In [12]:
df_poes.loc[3, "Variables"]

'Swi'

# Call param_poes function

In [13]:
df_poes.columns

Index(['Variables', 'Data values', 'Dist.', 'Loc', 'Scale', 'Sc', 'Lim. Min.',
       'Lim. Max.'],
      dtype='object')

In [14]:
df_poes

  Variables  Data values        Dist.    Loc  Scale   Sc  Lim. Min.  Lim. Max.
0     Area        340.00   Triangular  400.0  600.0  0.3         50        0.0
1   Espesor        40.00   Triangular    0.0   90.0  0.3          0      180.0
2  Porosida         0.16   Log Normal    0.0    0.2  0.8          0        0.4
3       Swi         0.51       Normal    0.4    0.2  0.0          0        1.0
4       Boi         2.60  Exponencial    1.0    0.2  0.7          1        2.0

In [15]:
param_poes(df_poes, 1, 'Dist.', 'Loc', 'Scale', 100, 'Sc', 'Lim. Min.', 'Lim. Max.')

array([ 5.16981731, 41.28700168, 34.88688094, 20.54890703, 21.40641791,
        7.85086608, 41.6032003 , 58.04676748, 57.64571437, 19.99706335,
       14.71437115, 29.9272218 , 53.41142984, 39.1307952 , 21.80874342,
       68.2819097 , 30.51688672, 38.67397463,  9.52909492, 77.13968654,
       51.39599036, 43.23874716, 11.92585255, 54.2411967 , 29.57265324,
       37.41115632, 22.55578868, 17.94519517, 72.52094498, 23.03178025,
       70.85980912, 28.01143875, 24.09774611, 35.93758203, 67.85818138,
       37.28485499, 51.76885566, 52.90168273, 23.34472478, 28.62477313,
       36.48740147, 42.32147368, 46.35310917, 16.65417625, 33.52255908,
       16.29901787, 52.7435    , 53.62492698, 22.41538765, 29.88128204,
       24.0104462 , 65.75486411, 52.34644721, 35.99269895, 41.63672035,
       81.04920249, 23.3120371 , 57.22897586, 56.69560207, 30.75542239,
       27.86409317, 54.89618815, 58.84721619, 39.2158645 , 40.14735704,
       30.82008501, 47.1410139 , 10.39154833, 43.04626633, 23.20579856,
       26.4600864 , 47.42684507, 31.13895322, 40.30295024,  6.48773509,
       21.68564172, 53.53528974, 69.35758845, 68.67785157, 45.35064296,
       10.41144173, 79.28405849, 49.96148291, 53.46725828, 64.27155225,
        9.6421031 , 20.88307954, 30.36784306, 40.16966629, 22.45786483,
       48.65253768, 43.85989383, 68.09957929, 33.61185605, 53.71150205,
       60.48390327,  7.21698767, 33.31806538, 20.68003349, 48.02674844])